// Colors
// ------
$white: #ffffff;
$black: #000000;
$grey: #7b7b7b;
$dark-brown: #37241d;

$color-primary: #8e472d;

$headline-white: $white;
$headline-grey: $grey;
$section-paragraph-color: $grey;
$footer-bg-color: $dark-brown;
$arrow-to-top: #9b928e;

$btn-primary-background: $color-primary;
$btn-primary-hover: #6b2a13;
