// Colors
// ------
$white: #ffffff;
$black: #000000;
$grey: #7b7b7b;
$dark-brown: #37241d;

$headline-white: $white;
$headline-grey: $grey;
$section-paragraph-color: $grey;
$footer-bg-color: $dark-brown;
$arrow-to-top: #9b928e;
