.socials {
    display: none;

    @include min-screen($desktop) {
        display: block;
        position: absolute;
        bottom: -24px;
        right: 0;
        left: 0;
        background-color: #BFB3AE;
    };

    ul {
        max-width: 815px;
        list-style-type: none;
        margin: 0 auto;
        padding: 5px 0 1px;
        text-align: right;

        li {
            display: inline-block;
            margin: 0 7px;

            a {
                color: $white;
            }
        }
    }
}
