// Buttons
// -------

.btn {
    display: inline-block;
    transition: background 350ms ease-in-out;
    border-radius: 3px;
    outline: 0;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        text-decoration: none;
    }
}

.btn-primary {
    padding: 15px 40px;
    background-color: $btn-primary-background;
    color: $white;
    font-family: Arial;
    font-size: 12px;
    border: 0;
    text-transform: uppercase;

    .no-touch &:hover {
        background-color: $btn-primary-hover;
    }

    @include min-screen($desktop) {
        padding: 17px 45px;
        font-size: 15px
    }
}

.btn__container {
    margin: 40px 0;
    text-align: center;
}
