@font-face {
    font-family: 'Trojan';
    src: url('../fonts/Trajan-Pro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TrojanBold';
    src: url('../fonts/Trajan Pro Bold.ttf') format('truetype');
}
