// Headlines
// ---------

.section-headline {
    margin: 0;
    text-align: center;
    text-transform: uppercase;

    @include min-screen($desktop) {
        margin: 0 0 44px;
        font-size: 44px;
        line-height: 54px;
    }
}

.section-headline--white {
    color: $headline-white;
}

.section-headline--grey {
    color: $headline-grey;
}
