// Navigation
// -----------
.navigation-wrapper {
    @include min-screen($desktop) {
        height: 107px;
    }
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $white;
    text-align: center;
    transition: padding 300ms ease;
    z-index: 100;

    @include min-screen($desktop) {
        padding: 20px 0;
    }

    &.scrolled {
        position: fixed;
        width: 100%;

        @include min-screen($desktop) {
            padding: 3px 0 0;
        }
    }
}

.navigation-item__logo {
    position: relative;
    padding: 10px 0 2px 20px;;
    text-align: left;
    z-index: 100;

    @include min-screen($desktop) {
        padding: 0;
    }

    img {
        text-align: left;
        width: 150px;

        @include min-screen($desktop) {
            width: auto;
        }
    }
}

.navigation--mobile {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 100%;
    padding-top: 50px;
    background-color: $navigation-mobile-open;
    transition: left 250ms ease;
    z-index: 90;

    &.opened {
        left: 0;
    }

    @include min-screen($desktop) {
        position: static;
        padding-top: 0;
        background-color: transparent;
        display: inline;
        vertical-align: super;
    }
}

.navigation-item {
    @include min-screen($desktop) {
        display: inline-block;
        vertical-align: middle;
    }

    &:not(.navigation-item__logo) {
        margin: 20px 0;
        font-size: 25px;

        @include min-screen($tablet) {
            margin: 35px 0;
        }

        @include min-screen($desktop) {
            margin: 0;
            padding: 10px 25px 8px;
        }

        @include min-screen($desktop-medium) {
            padding: 10px 30px 8px;
        }
    }

    &.navigation-item--icon {
        display: inline-block;
        margin: 20px 20px 0;
        padding: 20px;

        @include min-screen($desktop) {
            margin: 0;
            padding: 10px 17px 8px;

        };

        a:before {
            display: none;
        }
    }
}


.navigation-item__link {
    position: relative;
    font-weight: 400;
    color: $white;

    @include min-screen($desktop) {
        font-size: 15px;
        color: $black;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $black;
        transition: width 300ms ease-in;
    }

    &:hover {
        &:before {
            width: 100%;
        }
    }
}

.mobile-nav-trigger {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    transition: .5s ease-in-out;
    border: 0;
    outline: none;
    background: none;
    cursor: pointer;
    line-height: 0;
    z-index: 200;

    @include min-screen($desktop) {
        display: none;
    }

    span {
        display: block;
        position: absolute;
        width: 60%;
        height: 4px;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        background: #4a4545;
        opacity: 1;
    }

    span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
    }

    span:nth-child(odd) {
        left: 0;
        border-radius: 9px 0 0 9px;
    }

    span:nth-child(1),
    span:nth-child(2) {
        top: 0;
    }

    span:nth-child(3),
    span:nth-child(4) {
        top: 10px;
    }

    span:nth-child(5),
    span:nth-child(6) {
        top: 20px;
    }

    &.active {
        span {
            background-color: $white;
        }

        span:nth-child(1),
        span:nth-child(6) {
            transform: rotate(45deg);
        }

        span:nth-child(2),
        span:nth-child(5) {
            transform: rotate(-45deg);
        }

        span:nth-child(1) {
            top: 5px;
            left: 5px;
        }

        span:nth-child(2) {
            top: 5px;
            left: calc(50% - 10px);
        }

        span:nth-child(3) {
            left: -50%;
            opacity: 0;
        }

        span:nth-child(4) {
            left: 100%;
            opacity: 0;
        }

        span:nth-child(5) {
            top: 7.5px;
            left: 5px;
        }

        span:nth-child(6) {
            top: 7.5px;
            left: calc(50% - 10px);
        }
    }
}
