// Sections
// --------
.section {
    padding: 70px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include min-screen($tablet) {
        padding: 100px 15px;
    }

    @include min-screen($desktop) {
        padding: 117px 15px;
        background-attachment: fixed;
    }
}

.section__content {
    margin: 40px 0;
    padding: 10px 0;
}

.section__image {
    display: block;
    margin: 40px auto 0;
    width: 45%;
    border-radius: 50%;

    @include min-screen($desktop) {
        width: 300px;
    }
}

.news {
    background-image: url('../../dist/images/news-bg.jpg');
}

.achivements {
    background-image: url('../../dist/images/achiv-bg.jpg');
}

.gallery {
    background-image: url('../../dist/images/gallery-bg.jpg');
}

.achivements-carousel {
    margin-top: 30px;

    .slick-dots li button:before {
        font-size: 45px;
    }
}

.achievements__single {
    margin: 0 10px;
}

.achievement__img {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include min-screen($desktop) {
        height: 180px;
    }
}

.section__content--about {
    p {
        @extend .section-paragraph;
        @extend .section-paragraph--grey;
    }

    ul,
    ol {
        li {
            @extend .section-paragraph--grey;
            margin-bottom: 5px;
            line-height: 1.5;

            @include min-screen($desktop) {
                font-size: 18px;
            }
        }
    }
}
