// Sections
// --------
.section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include min-screen($desktop) {
        padding: 117px 0;
    }
}

.section__image {
    display: block;
    margin: 40px auto 0;
    width: 300px;
    border-radius: 50%;
}

.news {
    background-image: url('../../dist/images/news-bg.jpg');
}

.achivements {
    background-image: url('../../dist/images/achiv-bg.jpg');
}

.gallery {
    background-image: url('../../dist/images/gallery-bg.jpg');
}
